{{ partial "header.html" . }}
<div id="docs">
  <div class="nav-docs-wrapper">
    {{ partial "compose-navbar.html" . }}
  </div>
  <div class="main-wrapper">
    <div class="content-wrapper">
      <section id="main">
        <article id="content">
          {{ .Content }}
        </article>
      </section>
    </div>
    <div id="toc" class="nav-page-content">
      {{ partial "nav-page-content.html" . }}
    </div>
  </div>
</div>
{{ partial "container-footer.html" . }}
{{ partial "footer.html" . }}
