<section id="multiple" data-accordion-group>
  {{ $currentNode := . }}
  {{ range .Site.Menus.main }}
    <section data-accordion>
      {{ if .HasChildren }}
        <article data-accordion>
          <button data-control>{{ .Pre }} {{ .Name }}</button>
          <div data-content>
            {{ range .Children }}
              {{if .HasChildren}}
                <article data-accordion>
                  <button data-control>{{ .Pre }} {{ .Name }}</button>
                  <div data-content>
                    {{ range .Children }}
                      {{if .HasChildren}}
                        <article data-accordion>
                          <button data-control>{{ .Pre }} {{ .Name }}</button>
                          <div data-content>
                            {{ range .Children }}
                                <a data-link href="{{ .Url }}">{{ .Pre }} {{ .Name }}</a>
                            {{ end }}
                           </div>
                         </article> 
                      {{else}}
                        <a data-link href="{{ .Url }}">{{ .Pre }} {{ .Name }}</a>
                      {{end}}
                      
                    {{end}}
                  </div>
                </article>
              {{else}}
                <a data-link href="{{ .Url }}">{{ .Pre }} {{ .Name }}</a>
              {{end}}
            {{end}}
          </div>
        </article>
      {{else}}
        <a data-link href="{{ .Url }}">{{ .Pre }} {{ .Name }}</a>
      {{end}} 
    </section>
  {{end}}
</section>

