.main-header {
  padding: rem-calc(20) 0 rem-calc(20) rem-calc(20);
  overflow: visible;
  position: relative;
  z-index: 90;
  background: $docker-blue;
  li > a {
    color: white;
  }
  > .row {
    margin: 0;
  }
  .logo {
    width: rem-calc(80);
    display: block;
    @media #{$small-only} {
     display: block;
     margin: auto;
     margin-top: 0;
     max-width: 175px;
   }
   @media #{$medium-only} {
     display: block;
     margin: auto;
     margin-top: 0;
     max-width: 175px;
   }
   @media #{$large-up} {
     margin-left: -14px;
   }
 }
}

.left-off-canvas-toggle {
	position: absolute;
	left: 0.9375rem;
	top: 26px;
	z-index: 99;
	@media #{$large-up} {
		display: none;
	}
}

.get-started-cta {
  background-color: #86d801 !important;
  position: absolute;
  right: 0.9375rem;
  top: 22px;
  z-index: 99;
  @media #{$large-up} {
    display: none;
  }
  @media #{$small-only} {
    display: none;
  }
}
