.hero {
  padding: rem-calc(50) 0 rem-calc(100) 0;
  text-align: center;
  .cta {
    margin-top: 3rem;
    .button {
      background: $secondary-color;
    }
  }
  input {
    line-height: 1;
  }
}

.products-list {
  padding: 1rem 0;
  @include block-grid(1);
  @media #{$medium-up} {
    @include block-grid(2);
  }
  @media #{$large-up} {
    @include block-grid(4);
  }
  li {
    padding: 0;
    margin-bottom: 4rem;
    text-align: center;
  }
}

.product-tile {
  display: block;
  padding: 0.5rem;
  @extend %primary-transition;
  border: 1px solid transparent;
  img {
    max-width: 60%;
  }
  &:hover {
    border: 1px solid darken($docker-bg, 8%);
  }
  p {
    color: $body-font-color;
  }
  .link {
    color: $secondary-color;
  }
}
