.hero {
  padding: rem-calc(50) 0 rem-calc(100) 0;
  text-align: center;

  h1 {
    font-weight: 400;
  }
  .cta {
    margin-top: 1rem;
    h3 {
      font-size: rem-calc(36);
      font-weight: 100;
    }
    .button {
      font-family: $font-family-sans-serif;
      font-size: rem-calc(28);
      font-weight: 100;
      background: $secondary-color;
      padding-top: rem-calc(10);
      padding-bottom: rem-calc(13);
      box-shadow: 4px 4px 0 0 darken($primary-color, 5);
    }
  }
  input {
    line-height: 1;
  }
}

.products-list {
  padding: 1rem 2rem !important;
  margin: auto !important;
  @include block-grid(2);
  @media #{$medium-up} {
    @include block-grid(2);
  }
  @media #{$large-up} {
    @include block-grid(4);
  }
  li {
    padding: 0;
    margin-bottom: 4rem;
    text-align: center;
  }
}

.product-tile {
  display: block;
  padding: 0.5rem;
  border: 1px solid transparent;
  @extend %primary-transition;
  img {
    width: 60%;
    @media #{$medium-up} {
      width: 45%;
    }
  }

  &:hover {
    border: 1px solid darken($docker-bg, 8%);
  }
  p {
    color: $body-font-color;
  }
  .link {
    color: $secondary-color;
  }
}
