#docs {
  .nav-docs {
    @media #{$small-only} {
      display: none;
    }
    @media #{$medium-only} {
      display: none;
    }
  }
}

.nav-docs {
  background: #575759;
  padding-left: 0;
  padding-right: 0;
  #multiple {
    margin-top: 0;
    section {
      border-bottom: 1px solid #9c9d9f;
      font-family: $font-family-sans-serif-secondary;
    }
    article > div > article > button {
      background: lighten(#575759, 10);
      font-weight: 300 !important;
    }
    article {
      font-family: $font-family-sans-serif-secondary;
      a {
        font-family: $font-family-sans-serif-secondary;
        font-size: rem-calc(14);
        display: block;
        padding: rem-calc(10) rem-calc(10) rem-calc(10) 2.5rem;
        color: white;
        font-weight: 100;
        &.active {
          color: $docker-blue;
          font-weight: 400 !important;
        }
      }
    }
    button {
      font-family: $font-family-sans-serif-secondary;
      font-size: rem-calc(14);
      background: #575759;
      outline: none;
      font-weight: 100 !important;
      width: 100%;
      margin: 0;
      text-align: left;
    }
  }
  [data-accordion] > [data-control]:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 16px;
    font-size: 25px;
    font-weight: 200;
    color: #444;
    height: 15px;
    width: 24px;
    background: url('/dist/assets/images/arrow.svg') center center no-repeat;
    background-size: 50%;
  }
  [data-accordion].open > [data-control]:after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .toggle-nav-size {
    padding-top: 8rem;
    padding-bottom: 2rem;
    font-size: 0 !important;
    &:after {
      content: "";
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      margin: auto;
      color: #444;
      height: 30px;
      width: 30px;
      background: url('/dist/assets/images/expand-arrow.svg') center center no-repeat;
      background-size: 0.75rem;
    }
  }
}

&.nav-tutorials {
  a {
    font-size: rem-calc(14);
    display: block;
    padding: rem-calc(20);
    color: white;
    font-weight: 100;
    &.active {
      color: $docker-blue;
      font-weight: 400 !important;
    }
  }
}

.docs-nav-collapsed {
  @extend %primary-transition;
  .nav-docs {
    position: relative;
    #multiple {
      padding-bottom: 10rem;
      .toggle-nav-size {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: transparent;
        &:after {
          top: auto;
          right: 0;
          bottom: 1rem;
          left: 0;
          transform: rotate(180deg);
        }
      }
      section {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
      }
      button,
      a {
        font-size: 0;
      }
      .open > div {
        display: none;
      }
      [data-accordion] > [data-control]:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
  }
  .large-3 {
    &.nav-docs-wrapper {
      @extend %primary-transition;
      width: grid-calc(1, $total-columns);
    }
  }
  .large-6 {
    @extend %primary-transition;
    width: grid-calc(10, $total-columns);
  }
}
