.table-of-contents-wrap {
  font-family: $font-family-sans-serif;
  color: white;
  .table-of-contents {
    padding: 1rem 0 0 1.5rem;
    visibility: visible;
  }
  h2 {
    font-weight: 300;
    color: white;
    font-size: rem-calc(20);
  }
  .toggle-nav-size {
    outline: none;
    width: 100%;
    background-color: transparent;
    font-size: 0 !important;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
  }
}

#TableOfContents {
  a {
    color: white;
    font-size: rem-calc(14);
  }
  li {
    list-style: none;
    line-height: 1.5;
  }
  > ul > li > a {
    // color: $docker-gray;
    font-size: rem-calc(16);
    font-weight: 400;
  }
}
